<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firsttopic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="交通管理"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".leftIndex.LeftIndexActivity" android:screenOrientation="landscape"></activity>
        <activity
            android:name=".RoadSituation.Road_SituationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Violationenquiry.ViolationDetailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Violationenquiry.ViolationEnquiryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LightingManagement.LightManagActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".transportquery.TransportQueryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ninthtop.NinthtopActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EighthTops.EighthTopActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".seventhtop.SeventhTopActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".sixgettop.ChatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".fiveTesting.IndexActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Fourtopic.Mp4oneActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Fourtopic.ViolationrecordActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Fourtopic.JpgreadActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".therrtop.TherrtopActivity" />
        <activity android:name=".twotop.twotopActivity" />
        <activity android:name=".firsttop.firsttopActivity" />
        <activity android:name=".LongTextActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>